<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/presentation/fragments :: head}">
<body>
<header th:replace="~{/presentation/fragments :: header}"></header>

<div class="column">
<span class = "text_center title_login">Sobre Nosotros</span>

<p class="text_center">
    En Medical Appointments, nos dedicamos a revolucionar la manera en que los pacientes y profesionales de la salud gestionan sus citas médicas. Nuestro sistema de información ha sido diseñado para ofrecer una experiencia eficiente, rápida y segura en la reserva de consultas, eliminando tiempos de espera innecesarios y facilitando la comunicación entre médicos y pacientes.

    Nuestra plataforma permite a los usuarios:
    ✅ Explorar la disponibilidad de especialistas en tiempo real.
    ✅ Agendar, modificar o cancelar citas de manera sencilla.
    ✅ Recibir recordatorios automáticos para evitar ausencias.
    ✅ Acceder a su historial de consultas y tratamientos.

    Compromiso con la Salud y la Tecnología
    Nos enorgullece ofrecer una solución innovadora que optimiza la gestión médica, garantizando privacidad y seguridad en cada interacción. Con una interfaz intuitiva y soporte personalizado, aseguramos que tanto pacientes como profesionales disfruten de un servicio confiable y accesible.

    Nuestra Misión
    Facilitar el acceso a la atención médica, mejorando la organización y optimización de los servicios de salud a través de la tecnología.

    Nuestra Visión
    Ser la plataforma líder en gestión de citas médicas, brindando eficiencia y comodidad a pacientes y profesionales de la salud.

    Con Medical Appointments, reservar tu cita médica nunca fue tan fácil. ¡Tu salud en un solo clic!</p>

<footer th:replace="~{/presentation/fragments :: footer}"></footer>
</div>

</body>
</html>