<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Appointments</title>
    <link rel="stylesheet" href="../CSS/styles_login.css">
</head>
<body>
<header class = "row alig_center">
    <div class = "cont_img">   <!--Contenedor de la foto-->
        <p>Aqui va una imagen</p>
    </div>
    <div class = "title_header">
        <h4>Medical Appointments</h4>
    </div>
    <div class = "row" >   <!-- Numero de telefono con la imagen-->
        <div>
            <p>Cel</p>
        </div>
        <div>
            <p>+506 5467 0937</p>
        </div>
    </div>

    <div class = "row">   <!--Opciones a la derecha-->
        <div class = "opc_header alig_center"><a href="https://www.google.com">About...</a></div>
        <div class = "opc_header alig_center"><a href="https://www.google.com">Search</a></div>
        <div class = "opc_header alig_center"><a href="https://www.google.com">Login</a></div>
    </div>
</header>


<div class = "confirmarCita column">   <!-- muestra los datos del dr para confirmar o cancelar cita -->

    <div class ="d_flex just_cont">
        <p>Imagen doctor</p>
    </div>

    <div class ="d_flex just_cont">
        <p>Nombre doctor</p>
    </div>
    <div class ="d_flex just_cont">
        <p>Calendario</p>
    </div>

    <div class ="d_flex just_cont" >
        <p>Localizacion</p>
    </div>
    <div class ="row just_cont">
        <div>
            <p>confirm</p>
        </div>
        <div>
            <p>cancel</p>
        </div>

    </div>

</div>





<footer class = "row alig_center">
    <div class = "row text_footer">
        <h3>Total Soft Inc.</h3>
    </div>
    <div></div> <!--img 1-->
    <div></div> <!--img 2-->
    <div></div> <!--img 3-->
</footer>


</body>
</html>