<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/presentation/fragments :: head}">
<body>
<header th:replace="~{/presentation/fragments :: header}"></header>

<div class = "confirmarCita column sombra div2 lineHeightLow" th:object="${cita}">   <!-- muestra los datos del dr para confirmar o cancelar cita -->

    <div class ="d_flex just_cont lineHeightLow">
        <p><img th:src = "${cita.medico.foto}" class = "circularImage"></p>
    </div>

    <div class ="d_flex just_cont row lineHeightLow">
        <div class = "d_flex just_cont alig_center marg_der">
        <i class="fa-solid fa-user"></i>
        </div>
        <div class = "marg_izq">
        <p class = "lineHeight medico"  th:text="${cita.medico.usuarios.nombre}"></p>
        </div>
    </div>
    <div class ="d_flex just_cont row lineHeightLow">
        <div class = "d_flex just_cont alig_center marg_der">
            <i class="fa-solid fa-calendar"></i>
        </div>
        <div class = "marg_izq">
            <p class = "lineHeight" th:text="${cita.fechaCreacion}"></p>
        </div>
    </div>

    <div class ="d_flex just_cont row lineHeightLow">
        <div class = "d_flex just_cont alig_center marg_der">
            <i class="fa-solid fa-map"></i>
        </div>
        <div class = "marg_izq">
            <p class = "lineHeight" th:text="${cita.medico.hospital}"></p>
        </div>
    </div>

    <div class ="row just_cont lineHeightLow">
        <form action="/presentation/citas/confirmarCita" method="POST">

            <input type="hidden" name="id_pac" th:value="${session.usuario.id}">

            <input type="hidden" name="id_cit" th:value="${cita.id}">

            <button type="submit" name="confirm" class="confirm-btn">Confirm</button>
        </form>
        <div>
            <a th:href="@{/presentation/medicos/show}"><button type="submit" name="cancel" class="confirm-btn">Cancel</button></a>
        </div>

    </div>

</div>

<footer th:replace="~{/presentation/fragments :: footer}"></footer>

</body>
</html>