<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/presentation/fragments :: head}">
<body>
<header th:replace="~{/presentation/fragments :: header}"></header>

<div class = "confirmarCita column sombra div2 lineHeightLow">   <!-- muestra los datos del dr para confirmar o cancelar cita -->

    <div class ="d_flex just_cont lineHeightLow">
        <p><img src = "/images/img_user.jpeg" class = "circularImage"></p>
    </div>

    <div class ="d_flex just_cont row lineHeightLow">
        <div class = "d_flex just_cont alig_center marg_der">
        <i class="fa-solid fa-user"></i>
        </div>
        <div class = "marg_izq">
        <p class = "lineHeight">Nombre doctor</p>
        </div>
    </div>
    <div class ="d_flex just_cont row lineHeightLow">
        <div class = "d_flex just_cont alig_center marg_der">
            <i class="fa-solid fa-calendar"></i>
        </div>
        <div class = "marg_izq">
            <p class = "lineHeight">Calendario</p>
        </div>
    </div>

    <div class ="d_flex just_cont row lineHeightLow">
        <div class = "d_flex just_cont alig_center marg_der">
            <i class="fa-solid fa-map"></i>
        </div>
        <div class = "marg_izq">
            <p class = "lineHeight">Localizacion</p>
        </div>
    </div>

    <div class ="row just_cont lineHeightLow">
        <div>
            <button class="confirm-btn">Confirm</button>
        </div>
        <div>
            <button class="confirm-btn">Cancel</button>
        </div>

    </div>

</div>

<footer th:replace="~{/presentation/fragments :: footer}"></footer>

</body>
</html>