<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Appointments</title>
    <link rel="stylesheet" href="styles_login.css">
</head>
<body>

<header class = "row alig_center">
    <div class = "cont_img">   <!--Contenedor de la foto-->
    <p>Aqui va una imagen</p>
    </div>
    <div class = "title_header">
        <h4>Medical Appointments</h4>
    </div>
    <div class = "row" >   <!-- Numero de telefono con la imagen-->
        <div>
            <p>Cel</p>
        </div>
        <div>
        <p>+506 5467 0937</p>
        </div>
    </div>

    <div class = "row">   <!--Opciones a la derecha-->
        <div class = "opc_header alig_center"><a href="https://www.google.com">About...</a></div>
        <div class = "opc_header alig_center"><a href="https://www.google.com">Search</a></div>
        <div class = "opc_header alig_center"><a href="https://www.google.com">Login</a></div>
    </div>
</header>

<div class = "login column">   <!-- Donde se piden los datos -->
    <div>
        <h1>Login</h1>
    </div>

    <div>
        <p>Imagen Login</p>
    </div>

    <div>
        <p>User id</p>
    </div>
    <div>
        <p>User Password</p>
    </div>

    <div class ="d_flex just_cont" >
        <input type="submit" value = "Log in" name="logIn" id = "logIn">
    </div>
    <div class ="row">
    <div>
        <p>Don't have an account?</p>
    </div>
        <div>
            <p>Register here</p>
        </div>

    </div>

</div>

<footer class = "row alig_center">
    <div class = "row text_footer">
        <h3>Total Soft Inc.</h3>
    </div>
    <div></div> <!--img 1-->
    <div></div> <!--img 2-->
    <div></div> <!--img 3-->
</footer>

</body>
</html>