<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/presentation/fragments :: head}">

<body class = "column">

<header th:replace="~{/presentation/fragments :: header}"></header>

<div class = "login column">   <!-- Donde se piden los datos -->
    <div class = "text_center title_login">
        <h1>Login</h1>
    </div>

    <div class = "cont_img_login">
        <img class ="img_login" src = "/images/login.jpeg">
<!--        <i class="fa-solid fa-user"></i>-->
    </div>

    <form class = "column" action="/presentation/usuarios/login" method="post">
        <div class = "row cuerpo_login2">
            <div class = "info_inp contenedorLogin">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class = "inp">
                <input type="text" name="id" id="username" placeholder="User id" required>
            </div>
        </div>
        <div class = "row cuerpo_login2">
            <div class = "info_inp contenedorLogin">
                <i class="fa-solid fa-key"></i>
            </div>
            <div class = "inp">
                <input type="password" name="clave" id="password" placeholder="User Password" required/>
            </div>
        </div>
        <div th:if="${error != null}" class="error">
            <h3 th:text="${error}"></h3>
        </div>

        <div class ="d_flex just_cont cuerpo_login2" >
            <input type="submit" name="login" id = "login" value = "Login">
        </div>
    </form>
    <div class ="row login_down">
        <div class = "no_hay_cuenta">
            <h4>Don't have an account?</h4>
        </div>
        <div class = "register">
            <a class = "todo_espacio" th:href="@{/presentation/usuarios/register}"><button class = "button_register">Register here</button></a>
        </div>
    </div>

</div>

<footer th:replace="~{/presentation/fragments :: footer}"></footer>

</body>
</html>