<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/presentation/fragments :: head}">

<body class = "column">

<header th:replace="~{/presentation/fragments :: header}"></header>

<div class = "login column">   <!-- Donde se piden los datos -->
    <div class = "text_center title_login">
        <h1>Login</h1>
    </div>

    <div class = "cont_img_login">
        <img class ="img_login" src = "/images/login.jpeg">
<!--        <i class="fa-solid fa-user"></i>-->
    </div>

    <div class = "row cuerpo_login">
        <div class = "info_inp contenedorLogin">
            <i class="fa-solid fa-user"></i>
        </div>
        <div class = "inp">
            <input type="text" name="ID" id="ID" placeholder="User id">
        </div>
    </div>
    <div class = "row cuerpo_login">
        <div class = "info_inp contenedorLogin">
            <i class="fa-solid fa-key"></i>
        </div>
        <div class = "inp">
            <input type="text" name="passw" id="passw" placeholder="User Password">
        </div>
    </div>

    <div class ="d_flex just_cont cuerpo_login " >
        <input type="submit" value = "Log in" name="logIn" id = "logIn">
    </div>
    <div class ="row login_down">
    <div class = "no_hay_cuenta">
        <h4>Don't have an account?</h4>
    </div>
        <div class = "register">
            <a class = "todo_espacio" href = "https://www.google.com"><button class = "button_register">Register here</button></a>
        </div>
    </div>

</div>

<footer th:replace="~{/presentation/fragments :: footer}"></footer>

</body>
</html>