<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/presentation/fragments :: head}">
<body>
<header th:replace="~{/presentation/fragments :: header}"></header>

<div class = "cuerpo_buscar_cita column">

  <form class="form_busqueda row" action="/presentation/medicos/search" method="POST" th:object="${medicosSearch}">
    <div class = "row busqueda">
      <div class = "row esp_buscar">
      <div class = "info_bus">
        <p>Especialidad</p>
      </div>
        <div class = "input_buscar">
          <input type="text" name="speciality" id="speciality" placeholder="Especialidad" th:field="*{especialidad}">
        </div>
      </div>

      <div class = "row esp_buscar">
        <div class = "info_bus">
          <p>Localizacion</p>
        </div>
        <div class = "input_buscar">
          <input type="text" name="city" id="city" placeholder="Localidad" th:field="*{localidad}">
        </div>
      </div>

      <div class = "esp_buscar_button">
        <input type="submit" name="buscar" value="Buscar" class="button_search">
      </div>
    </div>
  </form>

  <div class="citas-container row" th:each="m : ${medicos}" th:if="${not #lists.isEmpty(medicos)}">
    <div class="">
      <div class="doctor-info">
        <div>
          <img th:src="${m.getFoto()}" alt="Imagen medico">
        </div>
        <div>
          <div class="row adjust_anchor">
            <p class="doctor-name" th:text="${m.getUsuarios().getNombre()}"></p>
            <p class="doctor-costo" th:text="${m.getCostoConsulta()}"></p>
          </div>
          <p class="doctor-specialty" th:text="${m.getEspecialidad()}"></p>
        </div>

      </div>

      <hr>

      <div class="hospital-info adjust_anchor">
        <span th:text="${m.getHospital()}"></span>
        <span class="orange-icon">&nbsp;@&nbsp; </span>
        <span th:text="${m.getLocalidad()}"></span>
      </div>
    </div>

    <div class="dates-container column" th:each="dia : *{m.diasDeTrabajo()}">
      <span class="date" th:text="${#temporals.format(dia, 'dd/MM/yyyy')}"></span>
      <div class="appointments-container">
        <div class="times-container" th:each="cita : *{m.fechaCitas(dia)}">
          <a th:href="@{/presentation/citas/showConfirmar}"><span class="time-slot" th:text="${#temporals.format(cita.fechaCreacion, 'HH:mm')}"></span></a>
        </div>
      </div>
    </div>

    <div class="schedule-container">
      <form action="/presentation/medicos/showExtendido" method="POST" th:object="${medicoSearch}">
        <input class="no-show" type="hidden" name="id" th:value="${m.id}">
        <button type="submit" class="schedule-button" name="schedule" value="schedule" >Schedule <span class="orange-icon">🡲</span></button>
      </form>
    </div>

  </div>

</div>

<footer th:replace="~{/presentation/fragments :: footer}"></footer>

</body>
</html>