html, body {
    height: 100%; /* Asegura que toda la página tenga altura */
    width: 100%;
    margin: 0;
}
div{
    /*border:1px solid black;*/
}
header{
    display: flex;
    background-color: #e3f2fd;
    width: 100%;
    height: 10%;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.cuerpo_header{
    display: flex;
    height: 100%;
    width: 30%;
    margin: 0 auto; /* Centra horizontalmente */
    align-items: center;
    justify-content: center;
    padding-right:5%;
}
.cont_img_header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 0;
    height: 100%;
    width: 10%;
    padding: 0;
}
.img_header{
    height: 100%;
    width: 70%;
}
.cel_header{
    margin-left: 0;
    margin-right: 0;
}
.img_redonda{
    border-radius: 50%;
}
.alig_center{
    align-items: center;
}
.title_header{
    padding: 0;
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    color: #7acfd7;
}
.opc_header{
    padding: 1%;
}
.text_footer{
    padding-right: 5%;
}
.logos{
    align-items: center;
    height: 100%;
    width: 10%;
    margin-left: 5%;
}
.cont_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33.33%;
    margin:0;
}
.logo{
    font-size: 250%
}
.cont_logo > a{
    text-decoration: none;
    color:inherit;
}
.footer_derecha{
    height: 100%;
    display: flex;
    align-items: end;
    margin-left: auto;      /* Empuja este div hacia la derecha */
    margin-bottom: 2%;
    /*background-color: lightgreen;*/
}
footer{
    background-color: #343a40;
    color:white;
    bottom:0;
    width: 100%;
    height: 10%;
    align-items: center; /* Asegura que el texto esté centrado verticalmente */
    position: fixed;
    z-index: 1000; /* Se asegura de que esté por encima */
}
.cuerpo_buscar_cita{
    display: flex;
    align-items: center;
    background-color: #ebeff2;
    margin: auto;
    height: 80%;
    width: 80%;
}

.form_busqueda{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
}

.busqueda{
    display: flex;
    margin-top: 1%;
    align-items: center;
    height: 20%;
    width: 99%;
    background-color: white;
}

.esp_buscar{
    display :flex;
    align-items: center;
    justify-content: left;
    width: 25%;
    margin-left: 2%;
}

.esp_buscar_button{
    display: flex;
    width: 15%;
    margin-bottom: 5%;
    align-items: center;
}

.esp_buscar_button input:focus {
    border-color: #007bff;
}

.esp_go_back{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}


.info_bus{
    background-color: #e8ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;

}
input[type="text"] {
    background-color: white;
    height: 100%;
    width: 100%;
    display: block;
    /*border: 2px solid #f0f1f2 ;*/
    box-sizing: border-box;
    border-bottom-right-radius: 50% 250%;
    border-top-right-radius: 50% 250%;
}
.input_buscar{
    height: 60%;
    width: 70%;
}

.button_search{
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.lightblue_icon{
    color: #007bff;
    margin-right: 15px;
}

.button_search:hover {
    background: #0056b3;
}


/*Clases para la parte que se repite*/
/* Contenedor principal */
.citas-container {
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
}

/* Doctor Información */
.doctor-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.doctor-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.doctor-name {
    font-weight: bold;
    font-size: 17px;
    margin-right: 10px;
}

.adjust_anchor{
    width: max-content;
}

.doctor-specialty {
    display: flex;
    margin-left: 10px;
    font-size: 16px;
    color: gray;
}

.doctor-costo{
    display: flex;
    font-weight: bold;
    color: #3458a0;
    font-size: 18px;
}

/* Información del hospital */
.hospital-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

/* Contenedor de fechas */
.dates-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

/* Estilos de fecha */
.date {
    font-size: 18px;
    font-weight: bold;
    color: #d18c40;
}

/* Contenedor de horarios */
.times-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Estilos de cada horario */
.time-slot {
    background: #dde8ff;
    color: #3458a0;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
}

.time-slot:hover {
    background: #3458a0;
    color: white;
}

.schedule_container{
    display: flex;
    width: 20%;
    justify-content: right;
    margin-right: 20px;
}
/* Botón de agendamiento */
.schedule-button {
    background: #dde8ff;
    color: #3458a0;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.no-show{
    display: none;
}

.orange-icon{
    color: #d18c40;
    font-weight: bold;
}

.red-icon{
    color: red;
}

.schedule-button:hover {
    text-decoration: underline;
}