* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%; /* Asegura que toda la página tenga altura */
    width: 100%;
    margin: 0;
}

header{
    background-color: #e3f2fd;
    width: 100%;
    height: 15%;
}
div{
    border:1px solid black;
    margin: 10px;
}

.div2 {
    width: 50%; /* Ocupa el 50% del ancho de la pantalla */
    max-width: 400px; /* No crece más de 400px */
    height: auto; /* Se ajusta según el contenido */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
header>div{
    padding: 2%;
}
.title_header{
    color: #7acfd7;
}
.opc_header{
    padding: 1%;
}

.sombra{

    border: 1px solid #ccc; /* Borde opcional */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */

}

.cont_img{ /*Contiene imagen*/
    padding-left: 10%;
}

.img_redonda{
    border-radius: 50%;
}
footer{
    background-color: #343a40;
    color:white;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 10%;
    align-items: center; /* Asegura que el texto esté centrado verticalmente */
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.text_footer{
    padding-right: 5%;
}
.title_header{
    color: #7acfd7;
}
.opc_header{
    padding: 1%;
}
.alig_center{
    align-items: center;
}
.just_cont{
    justify-content: center; /* Centra horizontalmente */
}
header>div{
    padding: 2%;
}
.login{
    width: 35%;
    height: 70%;
    margin: auto;
}

.confirmarCita {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70%;
    margin: auto;
    margin-top: 1%; /* Ajusta este valor según necesites */
}

.lineHeightLow{
    line-height: 100%;
    padding: 1%;
}


.d_flex{
    display: flex;
}
input[type="submit"] {
    padding: 4% 30%;
    background-color: #17a2b8;
    font-size: 100%;
    color:white;
}
input[type="text"] {
    background-color: white;
    height: 90%;
    display: block;
}

.inp{
    width: 70%;
    margin: 0; /* Quita cualquier margen extra */
}
.info_inp{
    width: 30%;
    margin: 0; /* Quita cualquier margen extra */
    background-color: #e9ecef;
}

.cont_inp{
    display: flex;
    text-align: center;
    border: 10px solid red;
    padding: 5%;
    width: 75%;

}



.confirm-btn {
    background-color: #d0e0ff; /* Azul claro */
    color: #1543b8; /* Azul oscuro */
    border: none;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.confirm-btn:hover {
    background-color: #7acfd7; /* Cambio de color al pasar el cursor */
}

/*IMAGEN CIRCULAR DEL DOCTOR*/
img.circularImage {
    width: 90px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover; /*asegura que la imagen se ajuste correctamente dentro del circulo*/
    margin-left: 18px;
    margin-right: 18px;

}

.contenedorIcono{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 20%; /* Ajusta según necesites */
    height: 100%; /* Ajusta según necesites */
    background-color: #f0f2f5; /* Color de fondo */
    border: 1px solid black; /* Borde para visualizar */
}
.marg_izq{
   margin-left: 0;
}
.marg_der{
    margin-right: 0;
}


.todo_espacio{
    width: 100%;
    height: 100%;
}
.logos{
    align-items: center;
    height: 100%;
    width: 10%;
    margin-left: 5%;
}
.cont_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33.33%;
    margin:0;
}
.logo{
    font-size: 250%
}
.cont_logo > a{
    text-decoration: none;
    color:inherit;
}

.footer_derecha{
    height: 100%;
    display: flex;
    align-items: end;
    margin-left: auto;      /* Empuja este div hacia la derecha */
    margin-bottom: 2%;
    /*background-color: lightgreen;*/
}


/*===================MEDICO GESTION CITAS===================*/

.medicoGestionCitas{
    position: relative;
    display: flex;
    width: 85%;
    height: 70%;
    margin: auto;
    margin-top: 1%; /* Ajusta este valor según necesites */
}

.tituloDoctorAppointments{
    font-size: 300%; /* Aumenta el tamaño del texto en un 50% */
}

.nombreDoctorTitulo{
    color:blue;
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.orange{
    color: orange;
}


.status {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}
.pending {
    background-color: yellow;
    color: black;
}
.attended {
    background-color: green;
    color: white;
}
.buttons {
    display: inline-block;
    margin-left: 10px;
}
.view {
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

/* Ocultar checkbox */
input[type="checkbox"] {
    display: none;
}

/* Cambiar estado cuando el checkbox está marcado */
input[type="checkbox"]:checked ~ .status {
    background-color: green;
    color: white;
}

input[type="checkbox"]:checked ~ .status::after {
    content: "Attended";
}

input[type="checkbox"]:not(:checked) ~ .status::after {
    content: "Pending";
}

/* Ocultar/mostrar botones según el estado */
input[type="checkbox"]:checked ~ .buttons {
    display: none;
}

input[type="checkbox"]:checked ~ .view {
    display: inline-block;
}

select, input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.view {
    display: none;
}


.contenedorStatusPatient{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100%; /* Ajusta según necesites */
    height: 80%; /* Ajusta según necesites */
    background-color: #ececec; /* Color de fondo */
    border: 2px solid #b3b3b3 ;
    /*border: 1px solid black; !* Borde para visualizar *!*/
    border-radius: 2px;
    margin-bottom: 15%; /* Ajusta este valor según necesites */
    padding: 0px 10px;
    border-top-left-radius: 10px; /* Redondea la esquina superior derecha */
    border-bottom-left-radius: 10px; /* Redondea la esquina inferior derecha */

}
.contenedorStatusPatient2{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100%; /* Ajusta según necesites */
    height: 80%; /* Ajusta según necesites */
    background-color: white; /* Color de fondo */
    border: 2px solid #b3b3b3 ;
    /*border: 1px solid black; !* Borde para visualizar *!*/
    border-top-right-radius: 20px; /* Redondea la esquina superior derecha */
    border-bottom-right-radius: 20px; /* Redondea la esquina inferior derecha */
    margin-bottom: 15%; /* Ajusta este valor según necesites */
    padding: 0px 10px;
    margin-right: 10px;


}

label {
    /*display: block;*/
}

.button_search{
    color: white;
    background-color: #1543b8;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 25%;
}

.spaceEvenly{
    justify-content: space-evenly; /* Distribuye los divs a lo largo del contenedor */
    width: 70%;
}