header{
    background-color: #e3f2fd;
    width: 100%;
    height: 10vh;
}
div{
    border:1px solid black;
    margin: 10px;
}

.sombra{

    border: 1px solid #ccc; /* Borde opcional */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */

}

.cont_img{ /*Contiene imagen*/
    padding-left: 10%;
}
.img_redonda{
    border-radius: 50%;
}
footer{
    background-color: #343a40;
    color:white;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 10%;
    align-items: center; /* Asegura que el texto esté centrado verticalmente */
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.text_footer{
    padding-right: 5%;
}
.title_header{
    color: #7acfd7;
}
.opc_header{
    padding: 1%;
}
.alig_center{
    align-items: center;
}
.just_cont{
    justify-content: center; /* Centra horizontalmente */
}
header>div{
    padding: 2%;
}
.login{
    width: 35%;
    height: 70%;
    margin: auto;
}

.confirmarCita{
    position: relative;
    display: flex;
    /*align-items: center; !* Asegura que el texto esté centrado verticalmente *!*/
    /*justify-content: center; !* Centra horizontalmente *!*/
    width: 40%;
    margin: auto;
    top: 7px; /* Mueve el div N px hacia abajo */
}

.lineHeightLow{
    line-height: 0.00001;
    padding: 0.0005%;
}


.d_flex{
    display: flex;
}
input[type="submit"] {
    padding: 4% 30%;
    background-color: #17a2b8;
    font-size: 100%;
    color:white;
}
input[type="text"] {
    background-color: white;
    height: 90%;
    display: block;
}

.inp{
    width: 70%;
    margin: 0; /* Quita cualquier margen extra */


}
.info_inp{
    width: 30%;
    margin: 0; /* Quita cualquier margen extra */
    background-color: #e9ecef;
}

.cont_inp{
    display: flex;
    text-align: center;
    border: 10px solid red;
    padding: 5%;
    width: 75%;

}



.confirm-btn {
    background-color: #d0e0ff; /* Azul claro */
    color: #1543b8; /* Azul oscuro */
    border: none;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.confirm-btn:hover {
    background-color: #7acfd7; /* Cambio de color al pasar el cursor */
}

/*IMAGEN CIRCULAR DEL DOCTOR*/
img.circularImage {
    width: 90px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover; /*asegura que la imagen se ajuste correctamente dentro del circulo*/
    margin-left: 18px;
    margin-right: 18px;

}

.contenedorIcono{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 20%; /* Ajusta según necesites */
    height: 100%; /* Ajusta según necesites */
    background-color: #f0f2f5; /* Color de fondo */
    border: 1px solid black; /* Borde para visualizar */
}
.marg_izq{
   margin-left: 0;
}
.marg_der{
    margin-right: 0;
}