* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%; /* Asegura que toda la página tenga altura */
    margin: 0;
}
header{
    background-color: #e3f2fd;
    width: 100%;
    height: 10vh;
}
div{
    border:1px solid black;
    margin: 10px;
}
.cont_img{ /*Contiene imagen*/
    display: flex;
    height: 15%;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.cuerpo_login{
    width: 80%;
    height: 10%;

}
.img_redonda{
    border-radius: 50%;
}
footer{
    background-color: #343a40;
    color:white;
    bottom:0;
    width: 100%;
    height: 10%;
    align-items: center; /* Asegura que el texto esté centrado verticalmente */
}
.row{
display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.text_footer{
    padding-right: 5%;
}
.title_header{
    color: #7acfd7;
}
.opc_header{
    padding: 1%;
}
.alig_center{
    align-items: center;
}
.just_cont{
    justify-content: center; /* Centra horizontalmente */
}
header>div{
    padding: 2%;
}
.login{
    display: flex;
    width: 25%;
    margin: auto;
    height: 70%;
    border: 1px solid blue;
    /*justify-content: center; !* Centra verticalmente *!*/
    align-items: center; /* Centra horizontalmente */

}

.confirmarCita{
    position: relative;
    display: flex;
    /*align-items: center; !* Asegura que el texto esté centrado verticalmente *!*/
    /*justify-content: center; !* Centra horizontalmente *!*/
    width: 40%;
    margin: auto;
    top: 90px; /* Mueve el div 100px hacia abajo */

}


.d_flex{
    display: flex;
}
input[type="submit"] {
    padding: 4% 30%;
    background-color: #17a2b8;
    font-size: 100%;
    width: 100%;
    color:white;
}
input[type="text"] {
    background-color: white;
   height: 100%;
    width: 100%;
    display: block;
}

.inp{
width: 80%;
    margin: 0; /* Quita cualquier margen extra */
}
.info_inp{
    width: 20%;
    margin: 0; /* Quita cualquier margen extra */
    background-color: #e9ecef
}

.cont_inp{
    display: flex;
    text-align: center;
    border: 10px solid red;
    /*padding: 5%;*/
    width: 100%;
}
.text_center{
    text-align: center;
}
.title_login{
    display: flex;
    height: 15%;
    width: 100%;
    align-items: center; /* Centra horizontalmente */
    justify-content: center;
    background-color: #f0f1f2;
    margin-top: 0;
}
.img_login{
    height: 70%;
}

.login>div{
    margin-bottom: 5%;
}

.login_down{
    display: flex;
    width: 100%;
    height: 20%;
    margin-bottom: 0 !important;
    background-color: #f0f1f2;
    align-items: center; /* Centra horizontalmente */
}

.no_hay_cuenta{
    display: flex;
width: 50%;
    align-items: center; /* Centra horizontalmente */
font-size: 120%;
justify-content: right;
}

.register{
    display: flex;
    width: 30%;
    height: 50%;
    border:2px solid red;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    color:red;
}

