* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%; /* Asegura que toda la página tenga altura */
    width: 100%;
    margin: 0;
}
header{
    display: flex;
    background-color: #e3f2fd;
    width: 100%;
    height: 10%;
}
div{
    /*border:1px solid black;*/
    margin: 10px;
}
.cont_img_login{ /*Contiene imagen*/
    display: flex;
    height: 15%;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.cuerpo_login{
    width: 80%;
    height: 10%;
    /*border:1px solid red;*/
}
.cuerpo_login2{
    width: 100%;
    height: 20%;
    margin:0;
    margin-bottom: 10%;

    /*border:1px solid red;*/
}
.img_redonda{
    border-radius: 50%;
}
footer{
    background-color: #343a40;
    color:white;
    bottom:0;
    width: 100%;
    height: 10%;
    align-items: center; /* Asegura que el texto esté centrado verticalmente */
    position: fixed;
    z-index: 1000; /* Se asegura de que esté por encima */
}
.row{
display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.text_footer{
    padding-right: 5%;
}
.title_header{
    padding: 0;
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    color: #7acfd7;
}
.opc_header{
    padding: 1%;
}
.alig_center{
    align-items: center;
}
.just_cont{
    justify-content: center; /* Centra horizontalmente */
}
header>div{
    padding: 2%;
}
.login{
    display: flex;
    width: 25%;
    margin: auto;
    height: 70%;
    border: 2px solid #f0f1f2 ;
    border-radius: 1%;
    /*justify-content: center; !* Centra verticalmente *!*/
    align-items: center; /* Centra horizontalmente */
    margin-bottom: 7%;
}

.confirmarCita{
    position: relative;
    display: flex;
    /*align-items: center; !* Asegura que el texto esté centrado verticalmente *!*/
    /*justify-content: center; !* Centra horizontalmente *!*/
    width: 40%;
    margin: auto;
    top: 90px; /* Mueve el div 100px hacia abajo */

}


.d_flex{
    display: flex;
}
input[type="submit"] {
    padding: 4% 30%;
    background-color: #17a2b8;
    font-size: 100%;
    width: 100%;
    color:white;
    border:none;
    border-radius: 1%;
}

input[type="text"], input[type="password"]{
    background-color: white;
   height: 100%;
    width: 100%;
    display: block;
    border: 2px solid #f0f1f2 ;
}
input[type="file"]{
    background-color: white;
   height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid #f0f1f2 ;
}

.inp{
width: 80%;

    margin: 0; /* Quita cualquier margen extra */
}
select{
    width: 100%;
}

.info_inp{
    width: 20%;
    margin: 0; /* Quita cualquier margen extra */
    background-color: #e9ecef
}

.contenedorLogin{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 20%; /* Ajusta según necesites */
    height: 100%; /* Ajusta según necesites */
    background-color: #f0f2f5; /* Color de fondo */
    border: 2px solid #f0f1f2 ;
    /*border: 1px solid black; !* Borde para visualizar *!*/
}

.text_center{
    text-align: center;
}
.title_login{
    display: flex;
    height: 15%;
    width: 100%;
    align-items: center; /* Centra horizontalmente */
    justify-content: center;
    background-color: #f0f1f2;
    margin-top: 0;
}
.img_login{
    height: 70%;
}

.login>div{
    margin-bottom: 5%;
}

.login_down{
    display: flex;
    width: 100%;
    height: 20%;
    margin-bottom: 0 !important;
    background-color: #f0f1f2;
    align-items: center; /* Centra horizontalmente */
}

.no_hay_cuenta{
    display: flex;
width: 50%;
    align-items: center; /* Centra horizontalmente */
font-size: 120%;
justify-content: right;
}

.register{
    display: flex;
    width: 30%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.button_register{
 width: 100%;
    height: 100%;
    border:2px solid red;
    border-radius: 5%;
    color:red;
}
.button_register:hover{
    background-color: red;
    color :black;
}
.todo_espacio{
    width: 100%;
    height: 100%;
}
.logos{
    align-items: center;
    height: 100%;
    width: 10%;
    margin-left: 5%;
}
.cont_logo{
    display: flex;
    justify-content: center;
    align-items: center;
height: 100%;
    width: 33.33%;
    margin:0;
}
.logo{
font-size: 250%
}
.cont_logo > a{
    text-decoration: none;
    color:inherit;
}

.footer_derecha{
    height: 100%;
    display: flex;
    align-items: end;
    margin-left: auto;      /* Empuja este div hacia la derecha */
    margin-bottom: 2%;
    /*background-color: lightgreen;*/
}

.cont_img_header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 0;
    height: 100%;
    width: 10%;
    padding: 0;
}
.img_header{
    height: 100%;
    width: 70%;
}
.cuerpo_header{
    display: flex;
    height: 100%;
    width: 30%;
    margin: 0 auto; /* Centra horizontalmente */
    align-items: center;
    justify-content: center;
    padding-right:5%;
}
.cel_header{
    margin-left: 0;
    margin-right: 0;
}
.back_red{
    background-color: red !important;
}
.login form {
height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    /*border: 1px solid red;*/
    margin: 0;
}