<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/buscarCita.css">
    <link rel="stylesheet" href="/css/styleConfirmarCita.css">
    <link rel="stylesheet" href="/css/styleLogin.css">
</head>

<head th:fragment="head">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Medical Appointments</title>
    <link rel="stylesheet" href="/css/buscarCita.css">
    <link rel="stylesheet" href="/css/styleConfirmarCita.css">
    <link rel="stylesheet" href="/css/styleLogin.css">
</head>

<nav th:fragment="nav" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--    <ul>-->
<!--        <li>-->
<!--            <a th:href="@{presentation/medicos/show}">Search</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a th:href="@{presentation/usuarios/login}">Login</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a th:href="@{presentation/medicos/confirm/u002}">ConfirmarCita</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a th:href="@{presentation/citas/showCitas}">GesitonCitas</a>-->
<!--        </li>-->
<!--        <th:block sec:authorize="isAnonymous()">-->
<!--            <li>-->
<!--                <a href="/presentation/usuarios/login">Login</a>-->
<!--            </li>-->
<!--        </th:block>-->
<!--        <th:block sec:authorize="isAuthenticated()">-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <span>&#45;&#45;Username&#45;&#45;</span>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </th:block>-->

<!--    </ul>-->
</nav>

<header th:fragment="header" class="row alig_center">
    <div class = "cont_img_header">   <!--Contenedor de la foto-->
        <img class = "img_header img_redonda" src="/images/img_header.jpeg">
    </div>
    <div class = "title_header">
        <h2>Medical Appointments</h2>
    </div>
    <div class = "row cuerpo_header" >   <!-- Numero de telefono con la imagen-->
        <div class = "cel_header">
            <i class="fa-solid fa-phone"></i>
        </div>
        <div class = "cel_header">
            <h3>+506 5467 0937</h3>
        </div>
    </div>

    <div class = "row cuerpo_header">   <!--Opciones a la derecha-->
        <div class = "opc_header alig_center"><a th:href="@{/presentation/administradores/about}">About...</a></div>
        <div class = "opc_header alig_center"><a th:href="@{/presentation/medicos/show}">Search</a></div>
        <div class = "opc_header alig_center"><a th:href="@{/presentation/medicos/showExtendido}">Search_Ext</a></div>
        <div class = "opc_header alig_center"><a th:href="@{/presentation/usuarios/login}">Login</a></div>
        <div class = "opc_header alig_center"><a th:href="@{/presentation/citas/showCitas}">Citas</a></div>
<!--        <div class = "opc_header alig_center"><a th:href="@{/presentation/citas/show2}">Citas</a></div>-->
<!--        <div class = "opc_header alig_center"><a th:href="@{/presentation/citas/searchPatName}">Citas</a></div>-->
        <div class = "opc_header alig_center"><a th:href="@{/presentation/citas/confirmarCita}">Confirmar</a></div>
<!--        <div class = "opc_header alig_center"><a th:href="@{/presentation/medicos/confirm/u200}">Confirmar_Id</a></div>-->
    </div>
</header>

<footer th:fragment="footer" class="row alig_center">
    <div class = "row text_footer">
        <h2>Total Soft Inc.</h2>
    </div>
    <div class = "logos row">
        <div class = "cont_logo"><a href="https://www.x.com"><i class="fa-brands fa-twitter logo"></i></a></div>
        <div class = "cont_logo"><a href="https://www.facebook.com"><i class="fa-brands fa-facebook logo"></i></a></div>
        <div class = "cont_logo"><a href="https://www.instagram.com"><i class="fa-brands fa-instagram logo"></i></a></div>
    </div>
    <div class = "footer_derecha">
        <p>©2019 Tsf, Inc. </p>
    </div>
</footer>
</html>