<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/presentation/fragments :: head}">
<body>
<header th:replace="~{/presentation/fragments :: header}"></header>

<div class = "column medicoGestionCitas">   <!-- 4 -->

    <div class = "row tituloDoctorAppointments"> <!-- Nombre del doctor -->
        <p>Doctor - </p> <label class = "nombreDoctorTitulo">NombreDoctor</label> <p> - appointments</p>
    </div>

    <div class = "row"> <!-- Menu Status(combobox/select), Patient(input text), Search (boton) -->
        <div class = "row"><!-- status -->
            <div class = "contenedorStatusPatient info_inp"><!-- status -->
                <label for="status">Status</label>
            </div>
            <div class = "inp alig_center contenedorStatusPatient2"><!-- combobox status -->
                <select id="status">
                    <option value="all">All</option>
                    <option value="pending">Pending</option>
                    <option value="attended">Attended</option>
                </select>
            </div>
        </div>

        <div class = "row"><!-- patient -->
            <div class = "contenedorStatusPatient info_inp"><!-- patient -->
                <label for="patientname">Patient</label>
            </div>
            <div class = "inp alig_center contenedorStatusPatient2"><!-- submit patient -->
                <input type="text" name="patient" id="patientname" placeholder="Patient name">
            </div>
        </div>

        <div><!-- search button -->
            <button class = "button_search alig_center">Search</button>
        </div>

    </div>

    <div class = "row spaceEvenly"> <!-- aqui vienen las citas que tiene el doctor, hago una para ejemplo -->

        <div class = "d_flex just_cont alig_center marg_der"> <!-- Foto -->
            <i class="fa-solid fa-user"></i>
            <label class = "bold">NombreDoctor</label>
        </div>

        <div class = "d_flex just_cont alig_center marg_der"><!-- Fecha -->
            <label class = "orange">Calendario</label>
        </div>

        <div><!-- status -->
        </div>

        <div class = "row"><!-- attend / cancel // view -->
            <label>
                <input type="checkbox">
                <span class="status pending"></span>
                <div class="buttons">
                    <span style="color: green; cursor: pointer;">✔ Attend</span> |
                    <span style="color: red; cursor: pointer;">✖ Cancel</span>
                </div>
                <span class="view">🔭 View</span>
            </label>
        </div>

    </div>


</div>

<footer th:replace="~{/presentation/fragments :: footer}"></footer>

</body>
</html>